https://www.theodinproject.com/lessons/node-path-javascript-factory-functions-and-the-module-pattern
https://www.theodinproject.com/lessons/foundations-dom-manipulation-and-events
https://www.php.net/manual/fr/control-structures.for.php
